@model String
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Rename</h3>
        <div class="box-tools">
        </div>
    </div>
    @using (Html.BeginForm("Rename", "FileManager", FormMethod.Post, new { @class = "form-horizontal form-fileManager" }))
    {
        <div class="box-body">
            @Html.ValidationSummary("")
            @Html.Hidden("FullName", Model)
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="CategoryCode">
                    Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBox("NewFullName", "", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-primary pull-right">Rename</button>
        </div>
    }
